@media only screen and (max-width: 768px) {
  
    .logo {
      height: 66px;
    }
    .logo a img:first-child {
      width: 100px;
    }
    .btn-big {
      height: 40px;
    }
    .menu-icon img {
      opacity: 0;
    }
    
    .menu-icon::before {
      content: "close";
      font-family: 'Material Icons';
      position: absolute;
      left: 0;
      width: 100%;
      height: 24px;
      color: #ff493b;
      font-size: 24px;
      text-align: center;
      top: -7px;
    }
    
    .menu-icon {
      cursor: pointer;
    }
    
    
    .left-side-menu {
        transform: translate(-104% , 0px);
    }
    .left-side-menu.lm-show  {
      transform: translate(0px , 0px);
    }
    .content-page {
      padding-left: 0;
    }
    .navbar-custom {
      width: 100%;
      left: 0;
      height: 65px;
      padding: 0 12px;
    }
    .bt-m-view {
      display: block;
    }
    
    .bt-search input {
      min-width: 280px;
    }
    .bt-chipDetail {
      display: none;
    }
    .navbar-custom {
      height: 60px;
    }
    .left-side-menu {
      z-index: 40;
      top: 60px;
      height: calc(100vh - 60px);
    }
    
    .bt-pages-left-said {
      position: inherit;
      width: 100%;
    }
    .bt-pages-saidAuto {
      height: auto;
    }
    .bt-padding-tb {
      padding: 12px 12px;
    }
    
    #bt-mobile-detail-slide{
      position: fixed;
      width: 100%;
      background: #f7f8fa;
      top: 60px;
      transform: translate( 110% , 0px);
      height: calc(100% - 60px);
      overflow: auto;
      transition: 0.3s;
    }
    #bt-mobile-detail-slide.bt-show-slide{
     transform: translate( 0% , 0px);
    }
    }
    
  @media only screen and (max-width: 481px) {
    .bt-search input {
      width: 124px;
      min-width: 194px;
    }
    .bt-lng.dropdown-toggle.bt-select-arror::after {
      display: none;
    }
    .bt-padding-tb {
        padding: 0;
    }
    .topbar-right-menu .nav-link {
      padding: 0 12px;
    }
    
    .bt-card-header {
      height: 48px;
    }
    .bt-label-chip {
      margin-bottom: 8px;
    }
    .bt-number {
      padding-left: 0;
      text-align: center;
    }
    
    .list-info {
      padding: 12px 0;
      flex-direction: column;
    }
    .list-info .bt-icon-lg {
      width: 34px;
      height: 34px;
      text-align: center;
    }
    .bt-icon-lg img {
      width: 20px;
    }
    
    
    .h5 {
      font-size: 18px;
      padding: 6px 0 0px;
    }
    .bt-number-info {
      font-size: 10px;
    }
    .bt-report-detail .col {
      padding-right: 4px;
      padding-left: 4px;
    }
    .hearder-heading {
      font-size: 15px;
    }
    .bt-card-header2 {
      height: 48px;
    }

    .bt-lng > div span {
      display: none;
    }
    .bt-original-info {
      width: 26px;
      height: 26px;
      line-height: 9px;
      font-size: 8px;
      font-weight: 600;
    }
    .bt-list-original {
      padding: 0 0 20px 34px;
    }
    .bt-card-list > div {
      display: block;
      flex-flow: inherit;
      width: 220px;
    }
    .bt-card-list {
      display: inline-flex;
    }
    .bt-mobile-table {
      overflow:auto;
    }
    .report-page-seaction .bt-btn-border {
      border: 1px solid #ddd;
      font-weight: 400;
      font-size: 11px;
      padding: 0 4px;
      height: 30px;
    }
    .bt-login-left {
      display: none;
    }
    .bt-login-right {
      display: flex;
      align-items: center;
  }
  .bt-email-prefrence.bt-align-center {
    display: block;
    padding: 12px 12px;
}
.bt-email-prefrence > span {
  display: inline-block;
  margin-bottom: 0px
}
.bt-status-icon {
  pointer-events: none;
}
.bt-status-icon {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
}
.page-title {
font-size: 16px;
margin: 7px 0;
}
.bt-dashbord-checkList .bt-radious-2 .bt-status-icon {
z-index: 1;
position: absolute;
top: 24px;
width: 90px;
right: 0;
opacity: 0.3;
}
.bt-dashbord-checkList .bt-radious-2 .col-md-3 {
position: inherit;
}
.bt-dashbord-checkList .bt-radious-2 {
position: relative;
}
.bt-chip-section {
padding: 15px;
}
.bt-email-prefrence .form-group {
margin-bottom: 0px;
}
.bt-primary {
display: inline-block;
}

    }