/* //https://codepen.io/sosuke/pen/Pjoqqp color converter */
@import url('../fonts/font.css'); 
body {
  font-family: 'Celias' !important;
  background: #f7f8fa;
  font-size: 14px;
  /* color: #6c757d; */
  color: #444;

}
img {
  max-width: 100%;
}
a:hover{ text-decoration: none;}
p { 
  margin: 0px; 
  /* color: #788090; */
  color: #333; 
}

p {
  
} 
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 20px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  padding-right: 8px;
  padding-left: 8px;
}
.row {
  margin-right: -8px;
  margin-left: -8px;
}
button:focus {
  outline: 0px dotted;
  outline: 0px auto -webkit-focus-ring-color;
}
input:focus, textarea:focus, select:focus {
  outline-offset: 0px;
}
:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

.left-side-menu {
  width: 240px;
  height: 100vh;
  background: #fff;
  box-shadow: 0px 1px 7px #ccc;
  position: fixed;
  z-index: 220;
}

.logo {
  height: 90px;
  justify-content: center;
}
.left-nav-list .bt-nav-link {
  padding: 12px 8px 12px 20px;
  list-style: none;
  font-size: 13px;
  /* color: #2e3b53; */
  color: rgba(46, 59, 83, 0.7);
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  position: relative;
  transition: all  0.4s ease-in-out;
  cursor: pointer;
}

.left-nav-list .bt-nav-link .svg-db {
  opacity: 0.8;
  transition: all  0.3s ease-in-out;
}
.left-nav-list .bt-nav-link.active .svg-db{
  opacity: 1;
}
.left-nav-list .bt-nav-link:hover{
  color: rgba(46, 59, 83, 1);
  background : #fafbfd; 
}
.left-nav-list .bt-nav-link:hover .svg-db {
  opacity: 1;
} 
.left-nav-list .bt-nav-link.active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 5px;
  background:#ff493b;
  border-radius: 0 6px 6px 0;
  box-shadow: 1px 1px 5px #ccc;
}
.left-nav-list .bt-nav-link.active {
  color: #ff493b;
}
.left-nav-list .bt-nav-link.active .icon img{
  filter: invert(63%) sepia(98%) saturate(5100%) hue-rotate(337deg) brightness(101%) contrast(109%);
}
.left-nav-list .bt-navigation-listing {
  padding: 2px 0;
  margin: 0;
}

.left-nav-list .bt-nav-link .icon {
  width: 25px;
  margin-right: 10px;
}
.bt-align-center {
  display: flex;
  align-items: center;
}
.bt-margin-auto{
  margin: auto
}

.svg-db {
  filter: invert(19%) sepia(40%) saturate(496%) hue-rotate(179deg) brightness(98%) contrast(92%);
}
.bt-padding-tb {
  padding: 12px 20px;
}
.btn-primary{
  background-color: #ff493b !important;
  border-color: #ff493b !important;
}
.btn {
  font-size: 13px;
}

.bt-email-prefrence .btn  {
  box-shadow: 2px 2px 4px 1px #ccc;
}
.justify-content {
  justify-content : center;
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 73, 59, 0.5) !important;
}
.bt-primary .material-icons {
  margin-right: 6px;
}

span.bt-badge {
  color: #ff493b;
  background-color: rgba(255, 73, 59, 0.2);
  height: 24px;
  width: 24px;
  text-align: center;
  border-radius: 50%;
  font-size: 10px;
  line-height: 24px;
}
.bt-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 0, 0, 0.5);
  background:#ff493b;
  border-radius: 4px;
  color: #fff;
  height: 32px;
  font-size: 13px;
  padding: 0 22px;
  line-height: 30px;
  box-shadow: 2px 2px 4px 1px #ccc;
}
.btn.btn-secondary {
  padding-left: 22px;
  padding-right: 22px;
  box-shadow: 2px 2px 4px 1px #ccc;
}
.btn-big {
  font-size: 13px;
  font-weight: 500;
  height: 40px;
}
.bt-primary2 {
  padding: 0 6px;
  height: 38px;
}
.bt-divider {
  height: 2px;
  background: #eee;
  margin: 12px 0;
}
.bt-padding-nav {
  padding: 0 22px;
}
.nav-vh {
  height: calc(100vh - 160px);
  overflow: auto;
}

.content-page {
  padding-left: 240px;
  width: 100%;
  display: inline-block;
}
.content {
  margin-top: 66px;
}
.no-margin {
  margin : 0px !important;
}
.no-padding{
  padding: 0px;
}
.bt-padding-2 {
  padding-left: 12px !important;
  padding-right: 12px !important;
}
.navbar-custom {
  background: #fff;
  position: fixed;
  top: 0;
  width: calc(100% - 241px);
  right: 0;
  left: 240px;
  z-index: 210;
  height: 65px;
  padding: 0 24px;
  box-shadow: 0px 0px 5px 1px #ccc;
  display: flex;
}

.bt-search input {
  border: 1px solid #ddd;
  height: 40px;
  padding: 0 14px;
  min-width: 370px;
  font-size: 14px;
  background: #f7f8fa;
  width: 100%;
  border-radius: 3px;
  transition: all  0.3s ease-in-out;
}
.search-icon input {
  padding-left: 40px;
  height: 42px;
}
.search-icon {
  position: relative;
}
.bt-search input:focus {
  border-color: #eee;
  outline: 0;
  box-shadow: 0 0 3px 1px rgba(0,123,255,.1);
}
.search-icon::before {
  content: "search";
  font-family: 'Material Icons';
  width: 40px;
  height: 100%;
  display: flex;
  position: absolute;
  font-size: 23px;
  align-items: center;
  justify-content: space-evenly;
  color: #a0a3a8;
  color: #444;
}

.bt-chipImg {
  width: 34px;
  display: inline-block;
  float: left;
}

.bt-chip {
  font-size: 13px;
  background: #fafbfd;
  border-right: 1px solid #f1f3fa;
  border-left: 1px solid #f1f3fa;
  display: flex;
  align-items: center;
}
.bt-chipDetail {
  display: flex;
  width: calc(100% - 36px);
  flex-direction: column;
  padding-left: 6px;
  color: #98a6ad;
}
.bt-chip::after {
  border: 0px;
  position: absolute;
}
.bt-chipDetail span {
  font-weight: 500;
}
.flex {
  display: flex
}
.flex-center {
  align-items:center;
}
.dropdown-menu {
  padding: 0px;
  margin: 0px;
  -webkit-box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
  box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
  border: 1px solid #e4eaf2;
  border-radius: .25rem;
}
.navbar-custom .dropdown-menu.show {
  left: inherit !important;
  right: 0px !important;
  top: 65px !important;
  width: 100%;
}
/* 
.bt-search .dropdown-menu.show {
  top : calc(100% - 12px)!important
} */
.dropdown-item {
  width: 100%;
  padding: 12px 20px;
  clear: both;
  font-weight: 500;
  color: #6c757d;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  font-size: 12px;
}

.dropdown-item i {
  font-size: 16px;
  margin-right: 8px; 
} 

.dropdown-menu .dropdown-header {
  font-size: 11px; font-weight: bold
}
.animate {
  animation-duration: 0.3s;
  -webkit-animation-duration: 0.3s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
}
@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform:translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }
  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}
.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}
.morning-wish {
  font-size: 13px;
  line-height: 17px;
  color: #7b8994;
} 
.morning-wish span {
  padding-left: 10px;
}
.page-title {
  margin: 0;
  font-size: 18px;
  color: #1e2c47;
  font-weight: 500;
}

.header-st {
  padding: 8px 0px;
  margin-bottom: 10px
}
.bt-card {
  border-radius: 5px;
  box-shadow: 0 0 20px 0 rgba(154,161,171,.15);
  /* box-shadow: 1px 2px 3px 1px #eee; */
  margin-bottom: 18px;
  background: #fff;
}
.bt-card-header {
  height: 56px;
  background: #313a45;
  border-radius: 5px 5px 0 0;
  padding: 0 12px;
}
.bt-padding {
  padding: 12px;
}

.btn.bt-icon {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 34px;
  width: 34px;
}
.bg-whites{
  background: #fff;
}
/* .bt-calander span {
  padding: 0 5px;
  font-size: 12px;
  font-weight: 500;
  align-items: center;
  line-height: 23px;
} */

.svg-white {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(168deg) brightness(104%) contrast(104%);
}
.bt-number {
  flex-direction: column;
  display: flex;
  padding-left: 12px;
}
.bt-icon-lg {
  width: 55px;
  height: 55px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.bg-green {
  background: #12ce66 !important;
}
.border-green {
  border-color: #12ce66 !important;
}

.border-green {
  border-color: #12ce66 !important;
}
.btn-orange {
  background-color: #fff3cd;
  border-color: #ffeeba;
  color: #856404;
}

.green {
  color: #12ce66 !important;
}
.red {
  color: #ff493b !important;
}
.color {
  /* color:#788090; */
  color: #444;
}
.bg-red {
  background: #ff493b;
}
.bg-blue {
  background: #8669ff;
}
.blue {
  color: #8669ff;
}
.bg-orange{
  background: #f8c763;
}
.orange{
  color: #f8c763;
}
.bg-gray {
  background: #aeb7bc;
}
.bg-blue-dark {
  background: #2b3953;
}
.gray {
  color: #aeb7bc;
}

.h5 {
  margin: 0;
  font-size: 30px;
}
.bt-number-info {
  font-size: 16px;
  color: #788090;
}
.list-info {
  padding: 30px 0;
}
.bt-card-header2 {
  height: 52px;
  background: #fff;
  border-radius: 5px 5px 0 0;
  padding: 0 12px;
  box-shadow: 0px 2px 3px 0px #eee;
}
.hearder-heading {
  color: #6c757d;
  font-size: 14px;
  font-weight: 500;
}

.menu-icon {
  position: relative;
  left: 40px;
  top: 3px;
}
.slideIn.animate {
  top: inherit !important
}
.bt-btn-border {
  border: 1px solid #ddd;
  font-weight: 400;
  font-size: 13px;
}

.bt-select .btn.focus, .bt-select .btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0rem rgba(0,123,255,.25) !important;
}
.bt-select .dropdown-toggle::after {
  font-family: 'Material Icons';
  content: "keyboard_arrow_down";
  border: 0px;
  font-size: 19px;
  float: right;
  height: 20px;
  display: flex;
  align-items: center;
  width: 20px;
  overflow: hidden;
}
.dropdown-item.active, .dropdown-item:active {
  text-decoration: none;
  background-color: #fdbbb6;
}
.bt-inner-border-left > div::after {
  content: "";
  position: absolute;
  right: 0;
  width: 1px;
  height: 70%;
  background: #eee;
  top: 15%;
}
.bt-inner-border-left > div:last-child::after {
  width: 0px;
}
.wrapper { overflow: hidden;}
.inner-header-heading {
  height: 62px;
  margin: 0px;
}
.bt-info-st {
  padding: 12px 0;
  background: #f7f8fa;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
}
.bt-info-st p {
  font-size: 12px;
}
.bt-checkbox {
  width: 40px;
  text-align: center;
  position: relative;
}
.bt-checkbox input {
  display: none;
  cursor: pointer;
}
.bt-checkbox span {
  border: 2px solid #8f96a5;
  width: 18px;
  height: 17px;
  border-radius: 3px;
  position: relative;
  margin: 0px;
  display : inline-block;
  cursor: pointer;
}
.bt-checkbox input:checked ~ span::after {
  content: "check";
  font-family: 'Material Icons';
  font-weight: bold;
  font-size: 20px;
  position: absolute;
  left: -1px;
  top: -2px;
  width: 16px;
  height: 14px;
  color: #ff493b;
  line-height: 15px;
}
.b {
  font-size: 13px;
  font-weight: 500;
}
.template-information-set small, .bt-on-hover{
  color: #98a6ad;
}
.template-information-set small, .bt-on-hover {
  color: #444;
}
.bt-t-list {
  padding: 12px 0;
  transition: 0.4s;
  border-bottom: 1px solid #eee6;
  position: relative;
}
.bt-t-list:first-child {
  border-top: 1px solid #eee6;
}

.bt-template-date {
  width: auto;
  max-width: 60px;
  /* color: #98a6ad; */
  color: #444;
  height: 40px;
  position: relative;
}

.btn.bt-xs-icon {
  height: 28px;
  width: 28px;
}
.bt-xs-icon  .material-icons {
  font-size: 19px;
}
.bt-t-list .bt-xs-icon  .material-icons {
    color: #888;
}
/* .bt-t-list.active .bt-xs-icon  .material-icons {
  color: #fff;
} */
.hover-view { display: none}
.bt-t-list.active  {
  background: #eef2f7 !important;
  
}
.bt-t-list:hover{
  background: #fafbfd;
}
/* .bt-t-list.active p {
  color: #fff;
}  */
/* .bt-t-list.active small{
  color: #eee;
}  */
.bt-t-list:hover .bt-on-hover, .bt-t-list.active .bt-on-hover{ display: none}

.bt-t-list:hover .hover-view , .bt-t-list.active .hover-view {
  display: flex;
}
.bt-pages-left-said {
  box-shadow: 0px 1px 7px #ccc;
  position: fixed;
  width: 33.3%;
  transition: 0.3s;
}

.bt-pages-left-said {
  width: 27.5%; 
}

.bt-pages-saidAuto {
  height: calc( 100vh - 128px);
  overflow: auto;
}
.template-information-set {
  width: calc(100% - 20px);
}
.bt-template-detail {
  width: calc( 100% - 60px);
}  
.inline { display: inline-block !important;}
.bt-font-16 {
  font-size: 16px;
}
.bt-card-header span {
  color: #fff;
  font-weight: 500;
  font-size: 13px;
}
.white {
  color: #fff;
}

.bt-label-chip {
  background: #eee;
  padding: 6px 15px;
  border-radius: 17px;
  display: flex;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 10px !important;
  font-size: 13px;
  color: #444;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
.bt-notification-listing {
  padding: 10px 12px;
  border-bottom: 1px solid #f5f5f5;
}
.clearfix {
  margin-bottom: 12px;  
}
.btn-white {
  background: #fff !important;
  color: #555;
  border-color: #fff !important;
}
/* // scroll effect */

::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.bt-m-view {
  display: none;
}
.left-side-menu.lm-show {
  transition: 0.3s;
}


.menu-icon img {
  width: 30px !important;
}
.bt-menu-section {
  width: 290px;
  border: 0px;
  background: #fafbfd;
  border: 1px solid #dddd;
}
.bt-menu-info {
  padding: 7px 10px;
}
.bt-menu-info p {
    font-size: 12px;
    margin-bottom: 10px
}
.bt-menu-info {
  padding: 14px 12px;
  position: relative;
}
.bt-input-group .form-control {
  height: 32px;
  font-size: 12px;
  background: #eee;
  border-radius: 2px;
}
.btn.focus, .btn:focus {
  box-shadow: 0 0 0 0rem rgba(0,123,255,.25);
}
.bt-input-group .btn {
  height: 32px;
  font-size: 12px;
}
.bt-close {
  position: absolute;
  right: 2px;
  top: 2px;
}
.form-control {
    height: calc(2.25rem + 2px);
    padding: .45rem .9rem;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
    color: #6c757d;
    background-color: #f7f8fa;
    border: 1px solid #dee2e6;
}
.deshbord-section {
  padding: 15px;
}
.bt-list-point {
  position: relative;
}
.bt-list-point::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #ff493b;
  top: 23px;
  left: 9px;
  border-radius: 50%;
}
.bt-r3 {
  border-radius: 3px;
}
.dropdown-toggle.bt-select-arror {
  position: relative;
}
.dropdown-toggle.bt-select-arror::after {
  font-family: 'Material Icons';
  content: "keyboard_arrow_down";
  border: 0px;
  font-size: 19px;
  float: right;
  display: flex;
  align-items: center;
  position: absolute;
  width: 20px;
  overflow: hidden;
  right: -4px;
  height: 100%;
  top: 0;
}
.bt-margin-right {
  margin-right: 14px;
}

.bt-notification-listing .bt-checkbox {
  margin-right: 5px;
  width: auto;
  height: 17px;
}
.bt-input-md {
  border: 1px solid #eee;
  font-size: 13px;
  height: 34px;
  padding: 0 8px;
  border-radius: 3px;
  background: #fff;
}
.bt-height-auto {
  height: auto;
}

.bt-input-sm input{
  border: 1px solid #eee;
  font-size: 12px;
  height: 28px;
  padding: 0 8px;
  border-radius: 3px;
  background: #fff;
  width: 100%;
}
.bt-flex-column {
  display: flex;
  flex-direction: column;
}
.bt-card-list {
  background: #fff;
  padding: 8px;
  box-shadow: 0px 1px 2px 1px #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.bt-card-list .bt-xs-icon {
  line-height: 10px;
}
.bt-xs-icon .material-icons {
  width: 24px;
}
.bt-margin-right { margin-right: 5px;}

.bt-list-original {
  position: relative;
  padding: 0 0 30px 50px;
}
.bt-original-icon {
  position: absolute;
  left: 0px;
}
.bt-origin-tab-info {
  position: absolute;
  left: 0px;
  height: 100%;
}
.bt-original-info {
  position: absolute;
  left: 0px;
  width: 30px;
  height: 30px;
  background: #313a45;
  display: flex;
  color: #fff;
  text-align: center;
  line-height: 9px;
  font-size: 10px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}
.bt-origin-date-list .bt-origin-tab-info::before {
  content: "";
  display: inline-block;
  width: 2px;
  background: #ced2d8;
  position: absolute;
  left: 14px;
  height: 100%;
}
.btn.bt-xs-icon.bt-height-xs {
  height: 20px;
}
.bt-original-icon {
  height: 100%;
}
.bt-original-icon::before {
  content: "";
  display: inline-block;
  width: 2px;
  height: 100%;
  background: #ced2d8;
  position: absolute;
  left: 14px;
}
.bt-original-icon .material-icons {
  position: relative;
  z-index: 30;
  background: #f7f8fa;
  left: 0px;
  font-size: 29px;
}
.bt-origin-date-list:last-child .bt-origin-tab-info::before {
  width: 0px;
}
.bt-radio-group label input {
  display: none;
}
.bt-radio-group label {
  margin: 0;
}
.bt-radio-group label span {
  margin: 0;
  width: 48px;
  text-align: center;
  background: #424d64;
  margin-left: -3px;
  height: 30px;
  display: inline-block;
  line-height: 30px;
  color: #fff;
}

.bt-radio-group label:first-child span {
  border-radius: 8px 0 0 8px !important;
}
.bt-radio-group label:last-child span {
  border-radius: 0px 8px 8px 0px !important;
}

.bt-radio-group input:checked ~ span {
  background: #fff;
  color : #fa483c;
}
.bt-border-top::before {
  content: "";
  position: absolute;
  top: 0px;
  width: 100%;
  display: inline-block;
  height: 4px;
  background: #fff;
  box-shadow: 0px 1px 2px #ccc;
  border-radius: 0 0px 4px 4px;
}
  .bt-border-top {
  position: relative;
  padding-top: 10px;
  background: #fbfbfc;
}
.bt-event-listing {
  padding: 12px 10px;
  border-bottom: 1px solid #eee;
}
label.bt-radio-btn2 span {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #8f96a5;
  position: relative;
}
.bt-radio-btn2 input {
  display: none;
}
.bt-radio-btn2 input:checked ~ span::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #313a45;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 3px;
}
.bt-radio-btn2 {
  margin: 0 4px 0 0;
  height: 20px;
}
.bt-custom-select select {
  width: auto;
  height: 30px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 3px;
  padding: 0 22px 0 6px;
  font-size: 12px;
  max-width: 100%;
  min-width: 110px;
  color: #444
}

.bt-custom-select select option {
  padding: 14px 0px;
}

.bt-card-list-head {
  height: 50px;
  background: #edeef1;
  box-shadow: 0px 0px 1px #ccc;
  margin: 0;
}
.bt-custom-select {
  width: 100%;
}
.svg-green{
  filter: invert(58%) sepia(35%) saturate(3042%) hue-rotate(104deg) brightness(103%) contrast(86%);
}
.svg-gray {
  filter: invert(81%) sepia(8%) saturate(233%) hue-rotate(157deg) brightness(88%) contrast(95%);
}
.login-section {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  height: 100vh;
  z-index: 300;
  background: #fff;
} 
.bt-login-left{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fafafa;
}
.bt-loginSt h1 {
  font-size: 20px;
  font-weight: 600;
}
.bt-login-with-google {
  width: auto !important;
  padding: 0 28px 0;
  border-radius: 30px;
}
.bt-loginSt {
  width: 60%;
}
.bt-loginSt p {
  margin-bottom: 20px;
  color: #313a45;
}
.bt-login-right {
  padding: 16% 0 0 28px;
}
.bt-login-right {
  padding: 16% 0 0 28px;
  box-shadow: 0px 0px 6px #ddd;
  background: url(../images/login-right.png) center center no-repeat;
  background-size: 100% 100%;
}
.bt-login-with-google img {
  margin-right: 12px;
}
/* ********************************** loader section  */
.spinner {
  margin: 0 0 50px;
  width: 40px;
  height: 40px;
  position: relative;
}

.cube1, .cube2 {
  background-color:#ff493b;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
  25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes sk-cubemove {
  25% { 
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  } 50% { 
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  } 50.1% { 
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  } 75% { 
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  } 100% { 
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}
.bt-loader {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bt-loader-content p {
  font-size: 17px;
  color: #313a45;
}

.bt-text-fixed{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.bt-text-fixed1{
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}
.bt-text-fixed2{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}
.bt-email-prefrence {
  padding: 12px 0;
}
.bt-email-prefrence > span:first-child {
  font-weight: 500;
  font-size: 13px;
}

.bt-email-prefrence .bt-custom-select, .bt-email-prefrence .bt-select2 {
  width: auto;
}
.bt-email-prefrence .bt-select2 .bt-custom-select {
  /* width: 126px !important; */
  display: inline-block;
  margin-right: 10px;
}

.bt-email-prefrence .bt-select2 .bt-custom-select  select {
  padding: 0 12px 0 6px;
}
.btn-week {
  background: #fff;
  border: 1px solid #ddd;
  font-size: 10px;
  padding: 4px 8px;
  margin-right: 6px;
  float: left;
  border-radius: 3px;
  font-weight: 500;
  margin-bottom: 6px;
  color: #111;
}
.btn-week.active {
  color: #12ce66;
  border-color: #12ce66;
  padding-left: 20px;
  position: relative;
}

.btn-week.active::before {
  font-family: 'Material Icons';
  content: "check";
  position: absolute;
  left: 2px;
  font-size: 12px;
}
.tag-section .react-tagsinput-tag {
  background-color: #f5f5f5;
  border: 1px solid #c2c2c2;
  color: #313a45;
  display: inline-block;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 5px;
  margin-right: 7px;
  padding: 2px 10px;
  border-radius: 11px;
}
#bt-mobile-detail-slide small {
  font-size: 16px;
}

.bt-entityStatus span small {
  display: none; 
}
.bt-title-status small {
  padding: 2px 4px;
  font-size: 8px !important;
  font-weight: 500;
  margin-left: 3px;
  border-radius: 3px;
}
.bt-card-header2 .bt-custom-select {
  width: auto;
}
svg text {
  fill: #888 !important;
}
.react-tagsinput {
  width: 100%;
  border-color: #eeee;
  padding: 13px;
}
.Toastify__toast--success {
  min-height: 52px !important;
  color: #155724;
  background-color: #d4edda !important;
  border-color: #c3e6cb !important;
}
.Toastify__toast--success > .Toastify__toast-body {
  margin: 4px 0 !important;
  font-weight: 500;
  font-size: 14px;
  height: 20px;
}
.bt-original-set .btn-primary {
  background-color: #0acf97 !important;
  border-color: #0acf97 !important;
}
.switch.btn {
  min-width: 52px !important;
  min-height: 26px !important;
}

.bt-select-auto select {
  padding: 0 8px 0 6px;
  min-width: auto;
}

.switch-group span {
  padding: 0 5px 0;
  display: flex;
  align-items: center;
  font-weight: 500;
}
.switch.btn.off.btn-light span {
  color: #444;
  padding-left: 14px;
}
.bt-list-original-remove {
  margin-top: -50px;
}
.bt-list-original.bt-list-original-remove .bt-card {
  padding: 5px 0 0;
}
.bt-inner-padding > button {
  margin-left: 12px;
}
.bt-inputSt .form-control {
  background: #f9fafc;
}
.bt-inputSt label {
  font-size: 14px;
  font-weight: 500;
}
.bt-margin-bottom {
  margin-bottom: 20px;
}
.bt-scroll-template {
  height: 431px;
  overflow: auto;
  padding: 6px 10px;
}
.bt-shadow2 {
  box-shadow: 0px 1px 10px 4px #ccc;
}
.form-control:focus {
  border-color: #ced4da;
  box-shadow: 0 0 0 0 rgba(0,123,255,.25);
}
.form-group {
  font-size: 13px;
  color: #444;
}

.bt-checkbox label {
  margin: 0;
  display: flex;
  align-items: center;
  font-weight: 400 !important;
}
.bt-shadow-bottom {
  box-shadow: 0px -3px 3px #eee;
  padding: 12px;
}
.bt-no-padding-bottom {
  padding-bottom: 0px
}
#bt-mobile-detail-slide label, #bt-mobile-detail-slide .b {
  color: #6c757d;
  font-weight: 500;
}
.bt-entityStatus span {
  position: absolute;
  left:0px;
  top: 0;
  height: calc(100% + 1px);
  width: 2px;
  border-radius: 0px;
}
.bt-entityStatus span i {
  display: none;
}
.bt-entityStatus span.bt-status1{
  background: #fec23b99;
}
.bt-entityStatus span.bt-status2{
  background: #12ce6699;
}
.bt-t-list .b {
  margin-bottom: 2px;
}
.bt-margin-space {
  display: inline-block;
  width: 100%;
  height: 20px;
}
.bt-align-self-start {
  align-items: self-start;
}
.bt-info-icon {
  width: 15px;
  font-size: 18px;
  margin-left: 10px;
}
.black {
  color: #6c757d !important;
}
.material-icons.sm-icon{
  font-size: 14px;
  position: relative;
  top: 2px;
}
.bt-listing li {
  padding: 5px 0 5px;
}
.bt-listing {
  margin: 9px 0 0;
}
.bt-custom-width {
  max-width: 127px;
}
.bt-step span {
  border-bottom: 2px solid;
  padding-bottom: 4px;
}
.inline-flex {
  display: inline-flex;
}
.material-icons {
  max-width: 40px;
}
.bt-h22 {
  height: 22px;
}

#bt-mobile-detail-slide .page-title.bt-font-16 {
  font-size: 18px;
} 
#bt-mobile-detail-slide .page-title {
  font-size: 22px;
}
#bt-mobile-detail-slide {
  font-size: 16px;
}
.bt-template-list .bt-on-hover2 {
  display: block;
  text-align: end;
}

.bt-template-edit {
  position: absolute;
  left: -29px;
  top: 0;
}
.bt-title-status small.bg-green{
  /* color: #199253; */
  color: #444;
  background: #12ce6680 !important
}
.bt-title-status small.bg-orange{
  /* color: #b78b39; */
  color: #444;
  background: #f8c76380 !important
}
.bt-check-icon {
  position: absolute;
  top: -4px;
  right: 4px;
}
.sm-icon {
  font-size: 16px;
}
.bt-checkList-step {
  width: 50px;
  height: 50px;
  position: relative;
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  line-height: 14px;
  border: 2px solid;
}
.bt-button-status {
  position: absolute;
  bottom: -25px;
  right: 0;
  padding:5px 13px 5px;
  border-radius: 25px;
  font-size: 13px;
  box-shadow: 0 0 3px 0px #ccc;
}
.bt-status-icon {
  padding-bottom: 10px;
}

.bt-check-icon {
  border-radius: 50%;
  background: #fff;
  line-height: 10px;
  padding: 0 1px 4px 2px;
  display: flex;
  align-items: self-start;
}

.bt-checkList-step > span {
  font-weight: 500;
  font-size: 18px;
  line-height: 13px;
}
.bt-radious-2 {
  border-radius: 20px 0 20px 0;
}
.bt-email-prefrence input::placeholder {
  color: #111;
  opacity: 1;
}
.bt-email-prefrence .bt-custom-select select , .bt-email-prefrence, .bt-label-chip  {
  color: #111;
}

