/* //https://codepen.io/sosuke/pen/Pjoqqp color converter */
@import url('../fonts/font.css'); 
body {
  font-family: 'Segoe UI Bold';
  background: #fff;
  color: #000000;
  font-size: 14px;
}
.container {
  max-width: 1170px;
  width: 100%;
}
img {
  max-width: 100%;
}
a:hover {
  text-decoration: none;
}
p { margin: 0px; color: #000; font-size: 16px; line-height: 28px;}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}
.material-icons {
  width: 23px;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  padding-right: 8px;
  padding-left: 8px;
}
.row {
  margin-right: -8px;
  margin-left: -8px;
}
.bg-twise {
  background: #fff;
  display: block;
  width: 100%;
}
.login-section {
  padding: 0px;
  overflow: hidden;
}
.bg-blue {
  background: #4a00e6;
}

.bt-login-height{
  height: calc( 100vh - 0px);
}
.white {
  color: #fff;
}
.set-heating {
  font-size: 38px;
  line-height: 42px;
}
.login-banner-st {
    padding: 20px 0 40px;
}

.login-st-detail {
    padding: 30px 0;
    width: 80%;
}
.heading-login {
    font-size: 24px;
    line-height: 34px;
}

/*.bt-br3 {
  border-radius: 50px;
  overflow: hidden;
}*/
.login-formst {
    padding: 0px 40px;
}

.bt-input input {
  width: 100%;
  height: 70px;
  border: 0px;
  padding: 0 13px;
  color: #4a00e6;
  background: #e8e8e8;
}
:focus {
  outline: -webkit-focus-ring-color auto 0px;
}
input:focus, textarea:focus, select:focus {
  outline-offset: 0px;
}

.bt-input label {
    position: absolute;
    top: 22px;
    left: 15px;
    color: #666;
    margin: 0;
    font-size: 16px;
    transition: 0.3s;
    font-weight: 300;
}
.bt-input::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 100%;
  background: #943bc1;
  left: 0px;
  top: 0;
}
.bt-input input.active + label, .bt-input:hover label {
  top: 5px;
  font-size: 12px;
}
.flex {
  display: flex  !important;
}
.bt-input {
  border: 0px solid #ccc;
  margin-bottom: 22px;
  position: relative;
  box-shadow: 0 0 0px 0px #ccc;
  border-radius: 10px;
  overflow: hidden;
  background-color: #e8e8e8;
}
.bt-primary {
  background: #0853FE;
  border: 0px solid #333;
  padding: 12px 32px 14px;
  line-height: 16px;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 0 0px 6px 2px #ccc;
}
.prating-box .btn-stye2 img {
  padding: 4px;
  background: #fff;
  border-radius: 2px;
}

.prating-box .bt-primary.btn-stye2 {
    padding: 12px 22px;
}

.calc_submit .bt-primary {
  background: #4caf50;
} 

.bt-primary:hover {
  color: #fff;
}
.red {
    color: #f75959;
    border-bottom: 0;
}


button:focus {
  outline: 0px dotted;
  outline: 0px auto -webkit-focus-ring-color;
}
.fa {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
.navbar-light .navbar-nav .nav-link {
  color: #111;
}
.header .navbar-light .navbar-nav .nav-link {
  padding: 8px 18px !important;
  font-size: 18px;
}

.bt-button {
  background: #fff;
  border: 0px;
  padding: 11px 10px !important;
  border-radius: 8px;
  margin-right: 10px;
  box-shadow: 0px 1px 3px 0px #ccc;
  margin-left: 10px;
  border: 1px solid;
  font-weight: 300;
  font-size: 15px;
  color: #000;
  min-width: 140px;
  text-align: center;
  display: flex;
  justify-content: center;
}
.bt-search .bt-button {
  min-width: 111px;
}
.blue-border {
  border-color: #0853FE;
}
.bg-blue-dark{
  background: #0853FE !important
}
.white {
  color: #fff !important;  
}
.header {
  border-bottom: 0px solid #eee;
  padding-top: 0px;
  padding-bottom: 0px;
  position: fixed;
  width: 100%;
  background: #fff;
  z-index: 200;
  top: 0;
  left: 0;
}
.banner {
  padding: 120px 0 60px;
  position: relative;
  z-index: 100;
}
.banner-detail h1 {
  font-size: 46px;
  line-height: 62px;
  margin-bottom: 20px;
  color: #0853FE;
}
.banner-detail p {
  font-size: 26px;
  font-weight: 300;
  color: #000;
}
.sx-icon {
  font-size: 16px;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
.blue {
  color: #0853FE;
}
.blue2 {
  color: #0853FE;
}
.border-white {
  border-color: #fff;
}
.sec-are {
  padding: 110px 0;
  overflow-y: hidden;
}
.dashbord-st {
  position: relative;
  overflow: visible;
}

.dashbord-st::before {
  content: "";
  width: 50%;
  height: 790px;
  background-color: #eee;
  background: url(../images/dash-lefticon.png) top left no-repeat;
  display: inline-block;
  position: absolute;
  top: -190px;
  background-size: 510px;
  left: 0px;
  background-position: 0px 0px;
  z-index: 2;
  pointer-events: none;
}

.next-levelst.add-right-arrow , .add-arrow-left {
  position: relative;
}
.dashbord-st::after , .next-levelst.add-right-arrow::after , .add-arrow-left::after{
  content: "";
  width: 50%;
  height: 100%;
  background-color: #eee;
  background: url(../images/dash-righticon.png) bottom right no-repeat;
  display: inline-block;
  position: absolute;
  bottom: 40px;
  background-size: 552px;
  /*background-size: 586px;*/
  right: 0px;
  z-index: 2;
}
.next-levelst.add-right-arrow::after  {
  background: url(../images/right-arrowIcon.png) bottom right no-repeat;
  background-size: 552px;
  bottom: inherit;
  top: 0;
  right: 0;
  pointer-events: none;
  left: inherit;

}
.add-arrow-left::after {
  background: url(../images/left-arrowIcon.png) top left no-repeat;
  background-size: 552px;
  right: inherit;
  left: 0px;
}

.add-arrow-left .container {
  position: relative;
  z-index: 10;
}
.headingNext {
  font-size: 18px;
}
.heading-shadow{
  text-shadow: 0 2px 12px rgba(8, 83, 254, .5);
}
.padding-bottom0 {
  padding-bottom: 0px !important;
}
.Slider-section-benifits {
  margin-top: -93px;
}

.benifit-slider-detail img {
    position: relative;
    z-index: 10;
    margin-top: 100px;
    width: 90%;
}

.slider-infonst {
    position: absolute;
    top: 43px;
    z-index: 20;
}


.des-banner-img {
  position: relative;
  z-index: 4;
  top: -60px;
}
.des-banner-img img {
  box-shadow: 0 0 18px 3px #ccc;
  background: #fff;
}
.bg-gray {
  background: #f7f7f7
}
.bt-slider li {
  list-style: none;
  float: left;
  padding: 0 12px;
}
.bt-slider ul {
  padding: 0;
  margin: 0;
  display: inline-block;
}
.bt-slider li div {
  padding: 4px 0px;
  background: #fff;
}
.bt-accordion-st {
  border: 0px;
}
.bt-accordion .btn {
  width: 100%;
  text-align: start;
  padding: 13px 16px;
  background: #eaeaea;
  border-radius: 8px;
}
.bt-accordion .btn {
  width: 100%;
  text-align: start;
  padding: 10px 20px;
  background: #eaeaea;
  border-radius: 8px;
  font-size: 18px;
  position: relative;
  color: #000;  
}
.bt-accordion .btn::before {
  content: "";
  width: 10px;
  height: 10px;
  background: #333;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  left: -5px;
}
.bt-accordion-st .card-body {
  background: #c4b3f6;
  border: 0px;
  padding: 0 37px 12px;
  font-size: 14px;
  position: relative;
  top: -7px;
  border-radius: 0 0 8px 8px;
  color: #000;
}
.bt-accordion .btn[aria-expanded="true"] {
  background: #c4b3f6;
}
.bt-heading {
  font-size: 42px;
  line-height: 50px;
}
.bt-link {
  color: #0853FE;
}
.bt-heading6 {
  font-size: 20px;
  font-weight: 300;
}
.list-item span {
  width: 50px;
  height: 50px;
  border: 0px solid #fff;
  display: flex;
  border-radius: 50%;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: #bd92ca;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;

}
.list-item {
  padding: 17px 0px 18px 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  transition: 0.3s;
  transform: scale(1);
}
.work-poiner {
  margin-right: 6px;
  
}
.list-item p {
  font-size: 20px;
  font-weight: 300;
  color: #fff;
  padding-right : 90px;
  text-shadow: 0 0 5px #fff;
}
.list-item:hover {
  transform: scale(1.2);
}
.st-how-to-work {
  background: url(../images/how-it-work.png) left top no-repeat;
  background-size: 111%;
}
.white {
  color: #fff;
}
.st-how-to-work {
  padding-bottom: 230px;
}
.missed-box {
  margin-bottom: 55px;
  min-height: 320px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 14px;
  margin-top: 30px;
  flex-direction: column;
  transition: 0.3s;
  overflow: hidden;
  box-shadow: 0 0 10px 0 #ddd;
  cursor: pointer;
}
.missed-box-detail {
  transition: 0.3s;
  padding: 0 18px;
  transform: translate(0px, 210%);
}
.neverMissSt .missed-box:hover > div img {
  transform: scale(0.0) translate(0px, -70%);
  width: 0px;
}
.neverMissSt .missed-box:hover .missed-box-detail {
  display: block;
  transform: translate(0px, 0px);
}
.bg-orange-lite {
  background: #fef5f4;
}
.bg-gray-lite {
  background: #f8f1fc;
}
.bg-orange-lite2 {
  background: #fff8f0;
}
.bg-cyan-lite {
  background: #e8fffb;
}
.bg-cyan-lite2 {
  background: #f4f5ff;
}
.missed-box .bt-heading2 {
  margin-top: 24px;
}

.missed-box.bg-orange-lite {
  box-shadow: 0 1px 35px #f7bbb5;
  border:1px solid #f3d4d1;
}
.missed-box.bg-orange-lite2 {
  box-shadow: 0 1px 35px #f7d9ba;
  border:1px solid #f7e7d6;
}
.missed-box.bg-gray-lite{
  box-shadow: 0 1px 35px #e0b4f9;
  border:1px solid #ead6f5;
}

.missed-box.bg-cyan-lite{
  box-shadow: 0 1px 35px #b2f1e6;
  border:1px solid #b2f1e6;
}
.missed-box.bg-cyan-lite2{
  box-shadow: 0 1px 35px #dcdff7;
  border:1px solid #dcdff7;
}

.missed-box img {
  width: 150px;
  transition: all ease-in-out 0.8s;
  padding-top: 20px;
}

.neverMissSt .col-md-4 {
  padding: 0 31px !important;
}
.bg-blue2 {
  background: #23123d;
}
.btn-md{
  font-size: 19px;
}    
.startGrowingst .missed-box {
  margin-bottom: 0;
}
.bt-mt-gro {
  position: relative;
  top: -100px;
}
.bt-mb-gro {
  position: relative;
  bottom: -62px;
}
.sec-are.startGrowingst {
  padding: 20px 0 60px;
}

.subBannerSt {
  padding: 120px 35px 80px;
  text-align: center;
} 
.testimonialst {
  background: #e1e0e0;
  padding: 30px;
}
.testimonialst img {
  width: 200px !important;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto;
  border: 5px solid #fff;
  margin-top: -110px;
  margin-bottom: 30px;
}
.sec-are.owl-slider-section {
  padding-bottom: 130px;
}
.testimonialst p {
  font-weight: 300
}
.bHeading {
  font-weight: 400;
  font-size: 21px;
  margin: 0 0 20px;
}
.owl-slider-section .owl-item .subBannerSt {
  transform: scale(0.9);
  transition: 0.3s;
}
.owl-stage-outer .owl-item.center .subBannerSt {
  transform: scale(1.2);
}

.owl-stage-outer .owl-item.center .testimonialst {
  background: #c79de1;
} 

.owl-slider-section .owl-dot {
  width: 20px;
  height: 20px;
  background: #ccc !important;
  border-radius: 50%;
  float: none;
  display: inline-block;
  margin: 0 5px;
}
.owl-slider-section  .owl-dots {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.owl-slider-section .owl-dot.active {
  background: #c79de1 !important;
}
.heading1 {
  font-size: 48px;
}
.bt-search input {
    width: calc(100% - 120px);
    padding-left: 40px;
    height: 50px;
    float: left;
    border:0px;
}
.bt-search {
  box-shadow: 0px 4px 6px #ccc;
  padding: 4px;
  position: relative;
  border-radius: 8px;
  border: 1px solid #eee;
}

.no-margin {
  margin: 0px;
}
.btn-blue {
  background: #5500d0;
  color: #fff;
  border-color: #5500d0;
}
.bt-search::before {
  content: "search";
  position: absolute;
  left: 6px;
  font-family: 'Material Icons';
  font-size: 32px;
  top: 6px;
  width: 30px;
  overflow: hidden;
}
.faq-detail {
  padding: 0 50px;
}
.faq-detail img {
  width: 150px;
}
.box2 {
  padding: 22px 0;
  font-size: 26px;
  margin-top: 20px;
  border-radius: 11px;
  position: relative;
  cursor: pointer;
}
.startGrowingst {
  margin-top:0px;
}
.pricing-banner {
  padding: 70px 0;
  margin-top: 90px;
}
.faq-banner {
  margin-top: 93px;
}
.useCase-banner {
  margin-top: 93px;
}
.box-pri {
  padding: 20px 16px;
  border-radius: 34px;
  box-shadow: 0 0 13px 0px #eee;
}
.pricing-slider {
  padding: 12px;
  border: 5px solid #fff;
  border-radius: 18px;
  background: #1f2137;
  color: #afb5bb;
}
.user-chip span {
  width: 50px;
  display: inline-block;
  float: left;
  border-radius: 5px;
  overflow: hidden;
}
.user-chip {
  display: inline-block;
  width: 100%;
}
.user-chip div {
  width: calc(100% - 51px);
  float: left;
  padding-left: 10px;
}
.user-chip p {
  margin: 0px !important;
}
.pricing-slider p {
  color: #afb5bb;
  margin-bottom: 20px;
}
.gray {
  color: #888 !important;
}
.p-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 24px;
  text-align: center;
  background: #6d00f3;
  color: #fff;
  border-radius: 5px;
  margin-right: 5px;
}
.p-icon .material-icons {
  font-size: 20px;
} 
.bt-heading2 small {
  font-size: 18px;
}
.pri-checkbox li label span {
  width: 18px;
  height: 18px;
  background: #1c202f;
  display: inline-block;
  border-radius: 4px;
  position: relative;
  float: left;
  margin-right: 6px;
}
.pri-checkbox input + span::before {
  font-family: 'Material Icons';
  color: #fff;
  font-size: 13px;
  position: relative;
  left: 2px;
  font-weight: 600;
}
.pri-checkbox input {
  display: none;
}
.pri-checkbox input[type=checkbox]:checked + span::before {
  content: "check";
}
.pri-checkbox {
  margin: 0;
  padding: 0;
}
.pri-checkbox li {
  list-style: none;
  padding: 0 0 12px;
}
.bt-button2 {
  background: #fff;
  border: 0px;
  padding: 14px 30px !important;
  border-radius: 8px;
  margin-right: 10px;
  box-shadow: 0px 1px 3px 0px #ccc;
  margin-left: 10px;
  border: 1px solid;
  font-weight: 300;
  font-size: 18px;
  box-shadow: 0 0 16px 0px #fff;
}
.btn-blue2 {
  background: #6500f2;
  border-color: #6500f2;
  color: #fff;
}
.add-line {
  position: relative;
  top: 3px;
  padding-left: 15px;
} 
.add-line::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 1px;
  background: #fff;
  position: absolute;
  left: 9px;
  top: 12px;
}
.bt-price-padding {
  padding: 0 20px;
}
.bg-blue2 {
  background: #6e00f6;
}

.add-line.blue::before {
  background: #8a38c6
}
.sec-are.bg-blue2 {
  background-color: #0853FE;
}

.case-banner-detail {
  position: relative;
  padding: 40px 0;
}
.case-ban-info {
  position: absolute;
  top: 90px;
  width: 100%;
}
.bt-box-case {
  box-shadow: 0 0 10px 0 #cccc;
  padding-top: 20px; 
}
.case-padding {
  padding: 0 40px;
}
.case-cat {
  position: relative;
  cursor: pointer;
}
.use-case-section .ac-link[aria-expanded="true"]{

}
.use-case-section .ac-link[aria-expanded="true"] .case-cat::after {
  content: "";
  display: inline-block;
  width: 40px;
  border-top: 20px solid #fa4142;
  border-left: 21px solid transparent;
  border-right: 21px solid transparent;
  position: absolute;
  bottom: -39px;
  left: 44%;
}

.case-cat::before{
  content: "";
  height: 3px;
  width: 100%;
  display: inline-block;
  position: absolute;
  bottom: -0px;
  left: 0;
  transition: 0.3s;
}
.case-cat:hover::before , .use-case-section .ac-link[aria-expanded="true"] .case-cat::before {
  background: #ff001d;
  bottom : -20px;
}
.case-connect-img img {
  width: 410px;
  height: 410px;
  border-radius: 50%;
}
/* .connect-st {
  background: url(../images/connect-img.png) top right no-repeat;
  background-size: 100% auto;
} */

.connect-set-detail {
  padding: 0 60px;
  color: #fff;
  position: relative;
  z-index: 6;
}
.case-connect-img {
  position: relative;
  z-index: 6;
}

.bt-heading3 {
  font-size: 36px;
  line-height: 47px;
} 

.connect-set-detail .bt-heading6 {
  font-size: 24px;
  font-weight: 300;
  line-height: 34px;
}
.bt-heading3 {
  font-size: 36px;
  line-height: 47px;
}
.connect-st {
  position: relative;
}
.fix-section {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 4;
  pointer-events: none;
}

.use-case-textimonial p {
  color: #fff;
  font-weight: 300;
}

.use-case-textimonial {
  margin-top: 30px;
  background: #d6a7da;
  padding: 50px 50px 40px;
  border: 1px solid #a56ab7;
}

.customer-followupsst p {
  font-size: 24px;
  color: #fff;
  line-height: 33px;
}
.add-p-right {
  padding-left: 0px;
}

.customer-followupsst {
  background: #007ee5;
  background-image: linear-gradient(180deg, #625dc7, #453561);

  color: #fff;
  padding: 70px 40px;
  margin-top: 190px;
}
.case-customer-follow {
  position: relative;
  /*top: -40px;
  right: -70px;*/
  z-index: 10;
}


/* .case-customer-follow {
  
} */

.customer-section .row .col-md-6:first-child .case-customer-follow{
  right: -60px;
} 
.customer-section .row .col-md-6:nth-child(2) .case-customer-follow{
  left: -80px;
} 



.startGrowingst {
  overflow: visible !important;
}
.box-pri > p {
  font-size: 20px;
}
.customer-followupsst .bt-heading2 {
  text-shadow: 0 0 5px #fff;
}
.startGrowingst button.blue {
  color: #000;
}
.connect-set-detail .bt-heading2{
  text-shadow: 0 0 5px #fff;
}
.footer .bt-heading.bt-big{
  font-size: 72px;
}
.btn2 {
  background: #fff;
  padding: 10px 34px 14px;
  font-size: 17px;
  margin-right: 14px;
  border-radius: 0;
  transition: 0.3s;
  line-height: 26px;
  display: inline-block;
  color: #000 !important;
  box-shadow: 0 0 6px 0px #ccc;
}
.btn2:hover {
  background: #0853FE;
  color: #fff !important;
}
.footer-nav-link {
  margin-top: 30px;
}
.footer-social-media li img {
  width: 40px;
}
.footer-social-media li a {
  display: inline-block;
  margin: 0 0 30px;
}
.footer-social-media li {
  list-style: none;
}
.footer-social-media {
  padding: 0;
  margin-bottom: 0;
}
.footer {
  padding: 80px 0 80px;
}
.footer-detail .bt-heading{
  font-size: 18px;
  line-height: 28px;
}
.case-ban-info p{
  font-size: 20px;
}    
.left-said {
  margin-right: 20px;
}
.case-ban-info .bt-heading2 {
  font-size: 50px;
}
.bt-padding2 {
  padding: 0px 20px;
}

.bt-padding2 .box-pri {
  padding: 20px 16px 120px;
}

.accordionSt .btn.btn-link {
  width: 100%;
  text-align: start;
  padding: 16px 20px;
  text-decoration: none;
  color: #0853FE;
  font-size: 20px;
  font-weight: 500;
  padding-right: 40px;
}

.accordionSt .card {
  margin-bottom:36px;
  border-color: #ccc;
  box-shadow: 0 0 14px 0px rgba(79, 240, 193, .3) ;
  border-width: 0px;
  box-shadow: 0 0 14px 0px hsla(224, 59%, 37%, .3);
    border: 2px solid #0853FE;
}

.btn.focus, .btn:focus {
  box-shadow: 0 0 0 0rem rgba(0,123,255,.25);
}
.acco-icon {
  width: 30px;
  height: 30px;
  border: 1px solid #007ee5;
  text-align: center;
  border-radius: 50%;
  line-height: 30px;
  float: right;
  font-size: 30px;
  position: absolute;
  right: 10px;
}

.accordion-st2 .ac-link[aria-expanded="true"] .box2 {
  background: #d8bbe5;
}
.accordion-st2 .ac-link[aria-expanded="true"] .box2::before {
  content: "";
  width: 20px;
  height: 20px;
  display: inline-block;
  position: absolute;
  bottom: -20px;
  left: 46%;
  border-right: 13px solid transparent;
  border-left: 13px solid transparent;
  border-top: 18px solid #d8bbe5;
}
.case-accordion .card-body {
  padding: 0;
} 
.bt-auto {
  width: auto;
  display: inline-block;
}
.bt-login {
  position: absolute;
  top: 15px;
  left: 30px;
  z-index: 120;
}
.modal .login-formst {
  padding: 30px 10px;
}
.bg-blue-grad {
    /* background-image: linear-gradient(180deg, #766ad9, #955cbc); */
    background-color:#0853FE;
} 
.bt-signup {
    background: no-repeat;
    border: 2px solid #fff;
    padding: 8px 70px 12px;
    border-radius: 32px;
    font-size: 22px;
    font-weight: 300;
    color: #fff;
    box-shadow: 0 0 18px 3px rgba(255, 255, 255, .5);
}
.bt-login-height {
    display: flex;
    align-items: center;
    justify-content: center;
}
.set-heating {
  font-size: 50px;
  line-height: 52px;
}
.btn-google-login {
    background: #fff;
    border: 1px solid #ccc;
    padding: 8px 30px;
    border-radius: 33px;
    margin-top: 20px;
}

.btn-google-login {
background: #fff;
border: 1px solid #eee;
padding: 12px 35px 11px;
border-radius: 33px;
margin-top: 30px;
font-size: 18px;
box-shadow: 0 0 19px #ccc;
}

.blue-light {
  color: #0853FE;
}
.bt-and-section {
  margin: 30px 0 30px;
  padding: 6px 0;
  position: relative;
}
.bt-and-section::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #eee;
  left: 0;
  top: 53%;
  z-index: 100;
}
.bt-and-section span {
  position: relative;
  z-index: 101;
  background: #fff;
  padding: 0 22px;
}

.login-formst .bt-primary {
  padding: 16px 40px 20px;
  font-size: 20px;
  border-radius: 36px;
  box-shadow: 0 0px 6px 2px #ccc;
  /* background-image: linear-gradient(180deg, #766ad9, #955cbc); */
  background-color: #0853FE:
}

.slidecontainer {
  width: 80%;
  padding: 2px 0 6px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 20px;
}

.slider:hover {
  opacity: 1;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #0853FE;
  box-shadow: 0 0 11px #ccc;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.des-banner-img {
  padding: 0px 15%;
}
.deshbord-calander-set {
  background: #fff;
  padding: 24px;
  border-radius: 14px;
  box-shadow: 0 0 30px #ccc;
}
.deshbord-calander-set h2 {
    font-size: 26px;
    padding: 12px 0 22px;
}
.des-info {
  width: 70%;
  float: left;
  text-align: start;
}
.des-info h3 {
  font-size: 22px;
  margin: 0 0 4px;    
}
.deshbord-banner-right-inf {
  display: inline-block;
  width: 40%;
  float: left;
  padding-right: 14px;
}
.deshbord-banner-right-inf input {
  width: 120px;
  height: 50px;
  padding: 0 10px;
  border: 1px solid #ddd;
  box-shadow: 0 0 11px #ccc;
  border-radius: 9px;
  font-size: 20px;
}
.des-banner-detail {
  display: flex;
  width: 100%;
  margin-bottom: 40px;
  align-items: center;
}

.deshbord-banner-h1 {
  font-size: 30px;
  border-bottom: 2px solid;
  line-height: 32px;
}
.deshbord-banner-h1.blue {
    border-bottom: 0px;
}
.deshbord-salary-icon {
    position: relative;
}
.deshbord-salary-icon span {
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  left: 12px;
}
.deshbord-save .des-info {
  text-align: center;
}

.deshbord-save .des-info  {
  width: 100%;
}
.des-info-radio {
  width: 100%;
  display: flex;
  justify-content: center;
}

.des-info-radio .custom-control-label::before {
    width: 47px !important;
    height: 21px !important;
    background-color: #c6ccf0;
    border: #adb5bd solid 0px;
}
.des-info-radio .custom-switch .custom-control-label::after {
  width: calc(20px - 4px);
  height: calc(20px - 4px);
  background-color: #fff;
}
.des-info-radio .custom-switch .custom-control-label::before {
  border-radius: 50px;
}
.des-info-radio .custom-switch .custom-control-input:checked~.custom-control-label::after {
  -webkit-transform: translateX(25.2px);
  transform: translateX(25.2px);
}
.des-info-radio span {
    padding: 0 6px;
} 
.des-info-radio .custom-switch {
  padding-left: 2.25rem;
  padding-right: 11px;
  top: -2px;
} 
.deshbord-save .des-banner-detail .bt-primary {
  margin: 0 auto;
}
.bt-accordion .btn small {
  position: absolute;
  font-size: 10px;
  font-weight: 600;
  right: 10px;
  top: 5px;
  text-shadow: 0 0px 7px #ccc;
}
.customer-viewImg img {
    width: 70%;
}
.customer-viewImg {
  text-align: center;
}
.use-case-banner2 {
  margin-top: 90px;
  padding: 30px 0;
}
.use-case-lst a {
  display: inline-block;
  width: 100%;
  background: #eee;
  margin-bottom: 22px;
  padding: 10px 10px 12px;
  font-size: 24px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: #838282;
  cursor: pointer;
  transition: 0.3s;
}

.use-case-lst a[aria-expanded="true"] {
  background-color: #0853FE;
  color: #fff;
  box-shadow: 0 0 10px #007ee5;
  border-color: #007ee5;
  text-shadow: 0 0 7px #fff;
  transform: scale(1.1);  
}
.use-case-lst {
  width: 72%;
  padding: 20px 0 20px;
}
.case-ban-info2 {
    padding: 30px 0 20px;
}
.faq-section .card-body {
  line-height: 25px;
  font-size: 16px;
  padding-top: 0;
}
#Naccordion {
    padding: 0 13%;
}
.flex-end {
  justify-content: flex-end;
}
.des-cal-detail {
  padding: 0px 20px;
}

.customer-followupsst .bt-heading2 {
  font-size: 42px;
  margin-bottom: 40px;
}
.case-accordion .sec-are {
  padding: 100px 0;
}
.bt-inner-first-list {
  margin-top: 80px;
}

.bt-missed-comming-soon {
  position: absolute;
  top: 49%;
  font-size: 12px;
  text-shadow: 5px 2px 9px #f9cbc6;
}

#login_page {
  transition: 0.5s;
  position: relative;
  z-index: 20;
}
.left-slide, .right-slide{
  transition: .5s;
}


.remove_slide .left-slide{
  transform: translate(-100% , 0px);
}
.remove_slide .right-slide{
  transform: translate(100% , 0px);
}
.remove_slide {
  opacity: 0;
  pointer-events: none;
}
#signUp_page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
#signUp_page.active {
  z-index: 40;
}

.sec-are.connect-st .customer-section:nth-child(1) {
  background: red;
}
.use-case-ima {
  position: relative;
  z-index: 10;
}

.header-lab-st img {
  width: 40px;
  border: 1px solid #eee;
}
.header-lab-st .material-icons {
  width: 16px;
  font-size: 18px;
  margin: 4px 0 0 5px;
}
.header-lng-d .dropdown-menu.show {
  margin: 0;
  padding: 0;
}

.header-lng-d .dropdown-menu {
  min-width: auto;
}

.header-lng-d .dropdown-item {
  padding: 14px 19px;
  border-bottom: 1px solid #eee;
}
.header-lng-d * {
  cursor: pointer;
}

.bt-size18 {
  font-size: 18px;
}
.prating-box {
  box-shadow: 0 0 13px 0px #ccc;
  padding: 16px;
  text-align: center;
  background: #fff;
}
.pricing-stDetail .bt-heading2 {
    font-size: 44px;
}
.pricing-box_p {
  padding: 0 30px;
}
.pricing-st .container{
  position: relative;
  z-index: 10;
}

.pricing-st.dashbord-st::before {
  background-size: 510px;
}
.pricing-st.dashbord-st::after {
  background-size: 412px; 
}
.heading-moreQ {
  font-size: 24px;
}

.pricing-faq-st .accordionSt .card {
  box-shadow: 0 0 14px 0px hsla(224, 59%, 37%, .3);
  border: 2px solid #007ee5;
}
.pricing-faq-st .accordionSt .btn.btn-link {
  color: #0853FE;
}
.pricing-faq-st .acco-icon {
  border: 1px solid #0853FE;
}
.heading-moreQ a {
  color:  #0853FE;
}
.bt-primary.btn-stye2 {
  border-radius: 31px;
  padding: 15px 22px;
}
.bt-slideLeft {
  position: relative;
}
.bt-slideLeft::before {
  content: "";
  width: 80%;
  height: 510px;
  background-color: #eee;
  background: url(../images/dash-left.png) center center no-repeat;
  display: inline-block;
  position: absolute;
  top: -40px;
  background-size: 870px;
  left: 0px;
  background-position: -565px 0px;
  z-index: 2;
}
.bt-slideLeft > div {
  position: relative;z-index: 10
}

.user_listh {
  font-size: 15px;
}
.UserListd {
  border: 1px solid #eee;
  padding: 10px 11px;
  position: relative;
  box-shadow: 0 0 10px 0 #eee;
  min-height: 192px;
  background: #fff;
}
.loved_people_list li {
  width: 20%;
  float: left;
  padding: 0 14px 14px 0;
  list-style: none;
}
.loved_people_list ul {
  display: inline-block;
  width: 100%;
  padding: 0;
}
.orange {
  color: orange;
}
.list_rating span {
  font-size: 18px;
  width: 14px;
}
.list_rating {
  margin-bottom: 12px;
}
.UserListd .fa {
  font-size: 14px;
  line-height: 23px;
  margin-bottom: 18px;
}
.userName-icon {
  position: absolute;
  bottom: 7px;
}
.userName-icon {
  position: absolute;
  bottom: 8px;
  color: #0853FE;
}
div#home-carousel {
  padding-left: 35%;
}
.Slider-section-benifits .owl-pagination {
  position: absolute;
  top: 72px;
  left: 0;
}
.themecolor2 {
  color: #0853FE
}
.next-lavelSt-detail {
  padding-bottom: 20px;
  position: relative;
}
.next-lavelSt-detail::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 20px;
  display: inline-block;
  width: 2px;
  background: #ccc;
}
.slide h3 {
  display: none
}
.slideTitle {
  font-size: 20px;
  color: #727272;
  padding: 8px 0;
}
.slideTitle {
    font-size: 23px;
    color: #727272;
    padding: 20px 0;
}

.header-lng-d {
    display: none;
} 



.active  .slideTitle {
  color: #0853FE;
}
.benifit-slider-detail {
  padding: 8px;
  position: relative;
}
.benifit-slider-detail img {
  box-shadow: 0 0 9px 0px #ccc;
  padding: 4px;
}
.benifit-slider-detail h4 {
  padding: 14px 23px;
  box-shadow: 0 0 6px 2px #ccc;
  display: inline-block;
  position: relative;
  top: -31px;
  background: #fff;
  margin-left: 0px;
}
.benifit-slider-detail p {
  padding-left: 20px;
  position: relative;
  top: -29px;
  font-size: 15px;
  line-height: 19px;
}


.Slider-section-benifits .owl-buttons * {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: #fff;
  margin: 0 8px;
  border-radius: 50%;
  box-shadow: 0 0 3px 1px #ccc;
  position: relative;
}
.Slider-section-benifits .owl-buttons *::before {
  content: "keyboard_backspace";
  position: absolute;
  font-family: 'Material Icons';
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 35px;
}

.Slider-section-benifits .owl-buttons  .owl-next::before {
  content: "arrow_right_alt";
}

div#home-carousel {
  border-bottom: 0px solid #eee;
}


.Slider-section-benifits .owl-buttons {
  margin-bottom: -34px;
  position: absolute;
  bottom: 290px;
  left: 0;
}

.header .bt-button {
  min-width: 112px;
}
.slider-comming {
  top: -28px;
  left: 61px;
  position: relative;
  color: #0853FE;
}
.blue3 {
  color: #0853FE;
}

.bt-heading {
  color: #0853FE;
}
.case-ban-info2 p {
  font-size: 24px;
}
.bt-heading2 {
  font-size: 35px;
}
.text-center.set-lisFollow p {
  padding: 0 21%;
  font-size: 25px;
  line-height: 36px;
}

.text-center.set-lisFollow .blue3 {
  font-size: 35px;
}
.how_work_reminder ul {
  padding: 0;
  margin: 0;
}
.how_work_reminder li {
  width: 25%;
  float: left;
  padding: 0 8px;
  list-style: none;
}
.how_work_reminder li .list_detail {
  padding: 12px;
  border: 1px solid #eee;
  box-shadow: 0 0 5px #ccc;
  cursor: pointer;
}
.list-hover_info {
  display: none;
  position: relative;
}
.how_work_reminder {
  display: inline-block;
  width: 100%;
  margin-top: 60px;
}
.list_detail h3 {
  color: #c2c2c2;
  margin: 0;
  font-size: 36px;
}
.list_detail.active h3 span {
  color:#0853FE;
}
.list_detail.active h3 {
  color: #111;
  margin-bottom: 40px;
  position: relative;
}
.list_detail.active .list-hover_info {
  display: block;
}
.list_detail.active h3  ::before {
  content: "";
  display: inline-block;
  width: 3px;
  height: 140px;
  position: absolute;
  background: #0853FE;
  left: -12px;
  top: -12px;
}
.list-hover_info p {
  font-size: 20px;
  line-height: 33px;
  color: #888;
}
.list-hover_info::before {
  content: "";
  display: inline-block;
  width: 3px;
  height: 75%;
  background: #0853FE;
  position: absolute;
  right: -12px;
  bottom: -12px;
}
.use_case_boost_section li {
  font-size: 24px;
  padding: 0px 0 30px;
  list-style: none;
  cursor: pointer;
}
.useCase_boostSt {
  padding-top: 60px;
}
.sub_heading {
  font-size: 24px;
}
.use_case_boost_section li.active{
  position: relative;
}
.use_case_boost_section li.active::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 43px;
  background: #0853FE;
  position: absolute;
  left: -21px;
  top: 0px;
}
.useBoost_caseImg {
  box-shadow: 0 0 0px 0px #ccc; 
  border-radius: 4px;
  padding: 0px;
}
.fs-24 {
  font-size: 24px;
}
.br1 {
  position: relative;
}
.br1::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 100%;
  position: absolute;
  background: #fff;
  right: 18px;
  top: 28px;
}
.faq_accTab {
  text-align: center;
}

.monthly-tab .faq_accTab {
  text-align: center;
  display: inline-block;
  background: #007ee5;
  padding: 5px;
  border-radius: 5px;
}
.faq_accTab li {
    float: none;
    font-size: 38px;
    list-style: none;
    padding: 0 20px;
    width: 30%;
    display: inline-block;
    line-height: 40px;
}
.faq_accTab a {
  display: flex;
  width: 100%;
  height: 176px;
  align-items: center;
  justify-content: center;
  border: 4px solid #eee;
  cursor: pointer;
}
.faq-banner-detail p {
  font-size: 22px;
}



.icon-button {
  background: no-repeat;
  border: 0px;
  padding: 0;
}
.faqs_dlist p {
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 10px
}
.collapse-faqs {
    padding: 50px 50px 0;
}
#accordionfaq.collapse-faqs {
    padding: 0px 50px 0;
}

.card-body {
  font-size: 20px;
}
.monthly-tab .faq_accTab li {
  padding: 0 0px;
  font-size: 18px;
  width: auto; 
}
.monthly-tab .faq_accTab a {
  height: auto;
  border: 0px solid #eee;
  padding: 6px 17px;
  color: #fff;
  background: #3e99e4;
  border-radius: 3px;
}
.faq_accTab a[aria-expanded="true"] {
  background: #fff;
  color: #007ee5; 
}
.faqBannerImg img {
    width: 60%;
}
.monthly-tab {
    margin-top: 20px;
}
.bt-card2 {
  background: #fff;
  padding: 30px 13px;
  box-shadow: 0 0 8px 1px #eee;
  width: 77%;
  margin: 0 auto;
}

.Slider-section-benifits .owl-buttons {
    display: none;
  }
.bt-rescued-pr {
  padding: 0 3px;
  transform: rotate(-45deg) translate(7px , -7px);
  line-height: 0px;
  width: 110px;
  margin: 0 auto;
}
.bt-rescued-pr span {
  display: inline-block;
  width: 100%;
  font-size: 50px;
  line-height: 45px;

}
.bt-rescued-pr span:first-child, .bt-rescued-pr span:last-child {
  transform: rotate(44deg);
}
.bt-rescued-pr span:last-child {
  padding-left: 35px;
}
span.rescued-line {
  height: 5px;
  background: #0853FE;
  line-height: 0px;
  margin: 0 0 3px;
  width: 79%;
}
.bt-rescued-pr span:first-child, .bt-rescued-pr span:last-child {
  transform: rotate(44deg);
}
.rescued-headingSt > * {
  float: left;
}
.info {
  background: #0853FE;
  display: inline-block;
  padding: 6px 14px;
  margin: 0 auto;
  font-size: 12px;
  color: #fff;
  line-height: 14px;
  font-weight: 500;
  position: relative;
}
.info_list1 {
  padding: 0px 0 20px;
}
.info::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #0853FE;
  bottom: -7px;
  left: 11px;
}
.info_list2 .info::before {
  border-top: inherit;
  border-bottom: 8px solid #0853FE;
  bottom: inherit;
  left: 11px;
  top: -7px;
}
.info_list2 .info {
  margin-left: 98px;
}
.info_list2 {
  padding-bottom: 20px;
}
.pricingFaq_section {
  padding-top: 0px;
}
.lifetimeSt {
  padding-bottom: 30px;
}

.lifetime_free .bt-heading2 small {
  font-size: 24px;
  position: relative;
  bottom: -9px;
  text-align: start;
  font-weight: 600;
}
.price-tabl span {
  font-size: 18px;
  font-family: sans-serif;
}
.pricingOfferSt {
  padding: 10px 0;
  margin: 10px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.left_linceses {
  padding: 30px 0 0;
}
.pricingOfferSt p {
    font-size: 18px;
    line-height: 34px;
    padding: 15px 0;
}
.money_back p {
    font-size: 20px;
    margin: 0;
    padding: 10px 0 20px;
}

.offfer-st {
  display: inline-block;
  background: blue;
  padding: 10px 0;
  font-size: 19px;
  color: #fff;
  font-weight: 600;
  margin-bottom: 15px;
  width: calc(100% + 32px);
  margin-left: -16px;
}
.money_back ul li {
  padding: 8px 0;
  list-style: none;
  text-align: start;
  position: relative;
  font-size: 17px;
}
.money_back ul li::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 12px;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid #0853FE;
  position: absolute;
  left: -23px;
  top: 15px;
}

span.alias {
  display: inline-block;
  background: #0853FE;
  padding: 6px 10px;
  float: left;
  margin-right: 8px;
  color: #ffff;
  font-weight: 600;
  border-radius: 5px;
}

.lifetime_free .bt-heading2{
  display: flex;
  align-items: center;
  justify-content: center;
}

.use_case_listdetail {
  padding-left: 29px;
  margin-bottom: -12px;
  position: relative;
  z-index: 10;
}
#set_user_caseDetail .use_case_listdetail{
  display: none;
}
#set_user_caseDetail.sale  .use_case_listdetail:nth-child(1) , #set_user_caseDetail.finance  .use_case_listdetail:nth-child(2), #set_user_caseDetail.team  .use_case_listdetail:nth-child(3) , #set_user_caseDetail.recruitement  .use_case_listdetail:nth-child(4), #set_user_caseDetail.cs  .use_case_listdetail:nth-child(5) {
  display: block;
}
 {
  display: block;
}
.add-minuteST {
  padding-left: 10px;
  margin-top: 6px;
}
.calc_submit{
    margin-bottom: 14px;
    margin-top: -30px;
    text-align: center;
}
.lm_bt {
    width: 46%;
    height: 50px;
    font-size: 18px;
    line-height: 3px;
}
.footer_tC_link a {
    display: inline-block;
    padding: 5px 6px;
    color: #fff;
}
.footer_tC_link p {
  color: #fff;
}
.footer_tC_link {
    text-align: center;
    background: #125bd6;
    color: #fff;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  -webkit-transition: .4s;
  transition: .4s;
  box-shadow: 0 0 5px 2px #ddd;
}

.pricing-try h3 {
    margin-bottom: 20px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color:#0853FE;

  -webkit-transition: .4s;
  transition: .4s;
  opacity: 1 !important;
}
.slider {
  opacity: 1 !important;
}
.sm-headding h2 {
    font-size: 20px !important;
}
.pricing-try  .gray.bt-size18 {
    padding: 0 16%;
}
.pric-heading  .bt-heading2 {
    font-size: 36px;
    margin-bottom: 30px;
}

#monthly, #lifetime{
  display: none;
}
#monthly.active, #lifetime.active {
  display: block;
}


input:checked + .slider {
  background-color: #fff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  height: 33px;
}

.slider.round:before {
  border-radius: 50%;
}

.check-boxadded {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0 20px;
}
.check-boxadded > div {
    padding: 0 15px;
}
.check-boxadded div h4 {
    margin-bottom: 0;
}

.pricing-try .bt-heading2 {
    font-size: 45px;
    margin-bottom: 45px;
}

.pricing-banner .bt-size18 {
    font-size: 18px;
    padding: 0 15%;
    line-height: 30px;
}










@media only screen and (max-width: 980px) {
  .nav-link.bt-button {
    margin-bottom: 12px;
    width: auto;
    display: inline-block;
  }
  .banner-detail h1 {
    font-size: 40px;
    line-height: 50px;
  }
  .list-item p {
    font-size: 16px;
    padding-right: 0px;
    text-shadow: 0 0 2px #fff;
  }
  .list-item span {
    width: 40px;
    height: 40px;
    font-size: 16px;
  }
  .list-item {
    padding: 10px 0px 10px 10px;
    margin-bottom: 0px;
  }
  .bt-button2 {
    padding: 14px 4px !important;
    min-width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}

@media only screen and (max-width: 769px) {

  .dashbord-st::after {
    background-size: 376px;
  }
  .dashbord-st::before {
    background-size: 1020px;
  }
  .bt-heading2 br {
    display: none;
  }
  .avarge-section .bt-heading2.mt-5 {
    margin-top: 10px !important;
  }
  .bt-heading br {
    display: none;
  }
  .st-how-to-work {
    background: none;
    background: #eee;
  }
  .st-how-to-work .white {
    color: #111 !important;
  }
  .st-how-to-work .list-item p {
    color: #111;
  }
  .st-how-to-work {
    padding-bottom: 40px;
  }
  .missed-box .bt-heading2 {
    margin-top: 24px;
    font-size: 20px;
  }
  .missed-box {
    margin-bottom: 30px;
    min-height: 240px;
  }
  .sec-are {
    padding: 40px 0;
    overflow-y: hidden;
  }
  .neverMissSt .col-md-4 {
    padding: 0 16px !important;
  }
  .bt-heading {
    font-size: 38px;
    line-height: 40px;
  }
  .testimonialst img {
    width: 129px !important;
    height: 129px;
  }
  .subBannerSt {
    padding: 120px 20px 80px;
  } 
  .banner-detail p br {
    display: none;
  }
  .bt-price-padding {
    padding: 0 0px;
  }
  .box-pri {
    padding: 20px 14px;
    border-radius: 24px;
  }
  .navbar-brand img { width:120px}
  .bt-price-padding {
    margin-bottom: 22px;
  }
  .heading1 {
    font-size: 28px;
  }
  .faq-detail {
    padding: 0 10px;
  }
  .box2 {
    padding: 14px 0;
    font-size: 20px;
}
.faq-detail img {
  min-height: 120px;
}
.case-cat {
  margin-bottom: 20px;
}
.footer {
  padding: 100px 0 60px;
}
.footer .bt-heading.bt-big {
  font-size: 52px;
}
.footer .white {
  color: #000 !important;
}
.left-said {
  width: 170px;
}
.footer-nav-link {
  margin-top: 30px;
  margin-bottom: 30px;
}
.row.accordion-st2 .col-md-4 {
  width: 33.3%;
}
.accordion-st2 .faq-detail img {
  min-height: auto;
}
.faq-detail {
  padding: 0 0px;
}
.box2 {
  padding: 11px 0;
  font-size: 14px;
}
.accordionSt .btn.btn-link {
  padding: 14px 14px;
  font-size: 18px;
}

.faq-banner {
  margin-top: 70px;
}

.login-section {
  padding: 76px 12px;
}
.bt-login-height {
  height: auto;
}

.login-section .bt-login-height.bg-blue {
  display: none;
}
.bg-twise {
  height: auto;
  background: #fff;
}
.list-item:hover {
  transform: scale(1);
}
.use-case-section .col-md-4 {
  width: 33.3%;
}
.case-padding {
  padding: 0 0px;
}
.bt-box-case {
  padding-top: 10px;
}
.bt-heading6 {
  font-size: 14px;
}
.use-case-section .ac-link[aria-expanded="true"] .case-cat::after {
  border-top: 10px solid #fa4142;
  border-left: 22px solid transparent;
  border-right: 22px solid transparent;
  bottom: -29px;
  left: 37%;
}
.fix-section {
  display: none;
}
.connect-set-detail {
  color: #000;
}
.connect-set-detail {
  padding: 0 0px;
}
.case-customer-follow {
  right: 0;
}
.customer-followupsst {
 margin-top: 0px;
}
.add-p-right {
  padding-left: 0;
}
#Naccordion {
  padding: 0 5%;
}
.des-banner-img {
  padding: 0px 0%;
}
.missed-box {
  min-height: 230px;
}
.missed-box-detail {
  display: none;
}
.bt-missed-comming-soon {
  top: 28%;
}
.missed-box-detail {
  padding-bottom: 20px;
}

.case-connect-img img {
  width: 250px;
  height: 250px;
}
.connect-set-detail .bt-heading6 {
  color: #333 !important;
}
.customer-followupsst .bt-heading2 {
  font-size: 32px;
  margin-bottom: 30px;
}

.customer-followupsst {
  padding: 30px 20px;
}
.customer-followupsst p {
  font-size: 18px;
  line-height: 26px;
}
.case-accordion .sec-are {
  padding: 60px 0;
}
.mt-5.owl-text {
  margin-top: 10px !important;
}
.text-center.set-lisFollow p {
  padding: 0 0%;
  font-size: 20px
}
.text-center.set-lisFollow h2 br{
  display: none
}

.how_work_reminder li {
  width: 100%;
  margin-bottom: 12px;
}
.list_detail h3 {
  font-size: 26px;
}
.list_detail.active h3 {
  margin-bottom: 20px;
}
.list_detail.active h3 ::before {
  height: 94px;
}
.list-hover_info p {
  font-size: 16px;
  line-height: 30px;
}

.Slider-section-benifits .owl-buttons {
  bottom: 30px;
}
.Slider-section-benifits .owl-buttons * {
  width: 40px;
  height: 40px;
}
.Slider-section-benifits .owl-buttons *::before {
  font-size: 26px;
}
.loved_people_list li {
  width: 33.33%;
}
.use_case_boost_section li {
  font-size: 18px;
  padding: 0px 0 20px;
}
.bt-heading {
  font-size: 20px;
  line-height: 30px;
}
.bt-button {
  padding: 9px 0px !important;
  border-radius: 22px;
  min-width: 126px;
}
.benifit-slider-detail h4 {
  padding: 9px 13px;
  font-size: 16px;
}
.benifit-slider-detail p {
  padding-left: 24px;
}
#login_page, #signUp_page {
    padding: 0;
} 
.pricing-stDetail .bt-heading2 br {
    display: block;
}
.pricing-stDetail .bt-heading2 {
    font-size: 32px;
}
.price-tabl span {
    font-size: 13px;
}
.lifetime_free .bt-heading2 small {
    font-size: 22px;
    line-height: 18px;
}
.faqs_dlist p {
    font-size: 14px;
    line-height: 20px;
}
.pric-heading .bt-heading2 {
    font-size: 26px;
    margin-bottom: 10px;
}









}

@media only screen and (max-width: 481px) {

.pricing-banner .bt-size18 {
    font-size: 14px;
    padding: 0 12px;
    line-height: 22px;
}
.pricing-try .bt-heading2 {
    font-size: 35px;
    margin-bottom: 26px;
}
.pricing-try h3 {
    margin-bottom: 16px;
    font-size: 22px;
}
.check-boxadded div h4 {
    margin-bottom: 0;
    font-size: 17px;
}


.benifit-slider-detail h4 {
  padding: 10px 15px;
  font-size: 20px;
}
.loved_people_list li {
  width: 100%;
}
.UserListd {
  min-height: auto;
}
.bt-button {
  display: inline-block;
}
.footer {
  padding: 40px 0 40px;
}
.footer .btn2 {
  background: #fff;
  padding: 6px 27px 8px;
  font-size: 13px;
}
.footer br:first-child {
  display: none;
}
.bt-heading2 {
  font-size: 28px;
}
.use-case-lst a[aria-expanded="true"] {
  transform: scale(1);
}
.use-case-lst a {
  padding: 6px 10px 8px;
  font-size: 20px;
  margin-bottom: 12px;
}
.bt-inner-first-list {
  margin-top: 0px;
}
.customer-section .row .col-md-6:nth-child(2) .case-customer-follow {
  left: 0;
}
.set-heating {
  font-size: 28px;
  line-height: 32px;
} 
.bt-signup {
  border: 1px solid #fff;
  padding: 7px 40px 10px;
  font-size: 18px;
}
.login-formst {
  padding: 0px 12px;
}
.bt-and-section {
  margin: 20px 0 20px;
}
.login-st-detail {
  width: 100%;
}
section#signUp_page {
  padding-bottom: 0;
}
#Naccordion {
  padding: 0 0%;
}
.pricing-box_p {
  margin-top: 20px;
}

.pricing-st.dashbord-st::before {
    background-size: 199px;
    top: 0;
}
.pricing-st.dashbord-st::after {
    background-size: 302px;
}
.pricing-banner {
  padding: 50px 0 0;
}


  .headingNext {
    font-size: 22px;
  }
  .Slider-section-benifits .owl-pagination {
    display: none;
  }
  div#home-carousel {
    padding-left: 0;
  }
  .des-banner-detail {
    display: inline-block;
  }
  .des-info {
    width: 100%;
  }
  .deshbord-banner-right-inf {
    width: 100%;
    margin-top: 10px;
  }
  .deshbord-banner-right-inf input {
    width: 120px !important ;
    float: left !important;
}
.deshbord-banner-right-inf .float-right  {
  float: left!important;
}

.deshbord-banner-right-inf.flex-end {
  justify-content: normal !important  ;
}
.des-banner-detail {
  margin-bottom: 30px;
}
  .des-banner-img {
    top: 0;
  }
  .dashbord-st::before {
    background-size: 710px;
  }
  .dashbord-st::after {
    background-size: 226px;
  }
  .banner-detail h1 br {
    display: none;
  }
  .banner-detail h1 {
    font-size: 28px;
    line-height: 36px;
  }
  .avarge-heading {
    margin-bottom: 30px;
    font-size: 22px;
  }
  .bt-slider li {
    margin-bottom: 20px;
  }
  .bt-heading {
    font-size: 26px;
    line-height: 30px;
  }
  .st-howToWork {
    margin-bottom: 30px;
  }
  .missed-box {
    margin-bottom: 20px;
  }
  .missed-box.bg-gray-lite.mt-5 {
    margin-top: 0px !important;
  }
  .bt-mt-gro {
    top: 4px;
  }

  .bt-button {
    padding: 9px 16px !important;
    min-width: auto;
    display: inline-block;
    align-items: center;
    font-size: 16px;
    justify-content: center;
    margin-top: 0 !important;
}

  .banner-detail p {
    font-size: 20px;
  }
  .sec-are.owl-slider-section {
    padding-bottom: 50px;
  }
  .startGrowingst {
    margin-top: 0px;
  }
  .missed-box {
    min-height: 200px;
  }
  .sec-are.startGrowingst {
    padding: 40px 0;
  }
  .startGrowingst .bt-heading.white.mt-5 {
    margin-top: 0px !important;
  }
  .connect-set-detail .bt-heading6 {
    color: #111 !important;
  }
  .case-connect-img {
    text-align: center;
    margin-top: 20px;
  }
  .case-connect-img img {
    width: 280px;
    height: 280px;
  }
  .use-case-textimonial {
    margin-top: 20px;
    background: #d6a7da;
    padding: 20px 20px 20px; 
  }
  .customer-followupsst p {
    font-size: 18px;
    color: #fff;
    line-height: 28px;
  }

  .deshbord-banner-right-inf input {
    width: 100%;
  }
  .deshbord-banner-right-inf span {
    margin-left: 0px !important;
  } 
  .missed-box {
    min-height: auto;
    padding: 20px 0 20px;
  }
  .bt-missed-comming-soon {
    top: 32%;
  }
.des-info h3 {
    font-size: 18px;
}
.des-info h3 br {
  display: none;
}
.des-cal-detail {
  padding: 0px 0px;
}



.deshbord-calander-set h2 {
  font-size: 22px;
  padding: 12px 0 22px;
}
.des-cal-detail h3 {
  font-size: 20px;
}
.deshbord-banner-h1 {
  font-size: 22px;
}
.how_work_reminder {
  margin-top: 40px;
}
.Slider-section-benifits {
  margin-top: 10px;
}
.Slider-section-benifits .owl-buttons {
  bottom: 1px;
  left: 23px;
}
.owl-slider-section {
  padding-top: 30px !important;
}
.use_case_boost_section li {
    display: table-cell;
    padding: 0 6px
}
.use_case_boost_section li:nth-child(1){
  min-width: 94px;
}
.use_case_boost_section li:nth-child(2){
  min-width: 111px;
}
.use_case_boost_section li:nth-child(3){
  min-width: 170px;
}
.use_case_boost_section li:nth-child(4){
  min-width: 154px;
}
.use_case_boost_section li:nth-child(5){
  min-width: 204px;
}
.use_case_boost_section {
  display: table;
  padding: 0  ;
}
.useCase_boostSt .col-md-4 {
  overflow: auto;
}
.use_case_boost_section li.active::before {
  width: 100%;
  height: 3px;
  left: 0;
  top: 104%;
}
.bt-heading {
    font-size: 20px;
}
.br1 {
    margin-bottom: 24px;
}
.br1::before {
  width: 0px;
}
.faq_accTab{
  padding: 0px;
}
.faq_accTab li {
  font-size: 17px;
  padding: 0 6px;
  width: 33.3%;
  line-height: 21px;
}
.faq_accTab a {
  height: 99px;
}
.faqs_dlist p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 6px;
}
.collapse-faqs {
  padding: 24px 10px 0;
}
#collapseOne h2 {
  font-size: 22px;
}
.card-body {
  font-size: 16px;
}
.faq-banner-detail p {
  font-size: 18px;
}
#signUp_page {
  opacity: 0;
}
#signUp_page.active {
  opacity: 1;
}
.login-banner-st {
    padding: 20px 20px 40px;
}
.Slider-section-benifits .owl-buttons {
    display: block;
}
.use_case_boost_section {
    margin-bottom: 30px;
}
.money_back ul li {
    padding: 6px 0;
    font-size: 12px;
}








}
@media only screen and (max-width: 381px) {
  .bt-heading {
    font-size: 20px;
  } 
  .bt-heading2.mt-5 {
    font-size: 20px;
  }
}

